@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: #000;
  /* background: #171717; */

 }

 /* Target Chrome/Safari */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar track */
  height: 3px; /* Height of the scrollbar track */
}

/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(95deg,#e90df3,blue);
  /* background: #171717; */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

/* Target the track (minus the thumb) */
::-webkit-scrollbar-track {
  background: #000; /* Color of the scrollbar track */
}

input {
  @apply  rounded-lg input bg-black outline-none border-none;
}