@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: #000;
  /* background: #171717; */

 }

 /* Target Chrome/Safari */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar track */
  height: 3px; /* Height of the scrollbar track */
}

/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #171717; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

/* Target the track (minus the thumb) */
::-webkit-scrollbar-track {
  background: #ddd; /* Color of the scrollbar track */
}